{% extends "base.html.twig" %}

    
{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert>
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container p-5">
        {{ form_start(form) }}
        {{ form_errors(form)}}
            {{ form_widget(form) }}
        <button class="btn btn-success">create</button>
        {{ form_end(form) }}
    </div>
{% endblock %}